In [5]:
import pandas as pd
import numpy as np
df=pd.read_csv('mlbootcamp5_train.csv',sep=';', index_col='id')
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [5]:
df.describe()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [17]:
df['gender'].value_counts()
#Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" 
#(какому полу соответствует 1, а какому – 2 в признаке gender) – это определите, посмотрев также на рост 
#при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).

1    45530
2    24470
Name: gender, dtype: int64

In [8]:
df[df['gender'==2]]['height'].mean()

KeyError: False

In [10]:
df[df['gender']==2]['height'].mean()
#2-man
#1-woman

169.94789538210054

In [11]:
df[df['gender']==1]['height'].mean()

161.35561168460356

In [12]:
df[df['gender']==2]['height'].max()

207

In [13]:
df[df['gender']==1]['height'].max()

250

In [14]:
df[df['alco']==1]['gender'].mean()

1.6915515409139215

In [16]:
pd.crosstab(df['alco'], df['gender'])
#Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины? Answer:Women

gender      1      2
alco
0       44369  21867
1        1161   2603

In [18]:
#Во сколько раз (округленно, round) процент курящих среди мужчин больше, чем процент курящих среди женщин 
#(по крайней мере, по этим анкетным данным)? Answer - 8
pd.crosstab(df['smoke'], df['gender'], normalize=True)

gender         1         2
smoke
0       0.638814  0.273057
1       0.011614  0.076514

In [6]:
# Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев 
#(примерно) отличаются медианные значения возраста курящих и некурящих. Answer:20
df['age']=round(df['age']/365)
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,50.0,2,168,62.0,110,80,1,1,0,0,1,0
1,55.0,1,156,85.0,140,90,3,1,0,0,1,1
2,52.0,1,165,64.0,130,70,3,1,0,0,0,1
3,48.0,2,169,82.0,150,100,1,1,0,0,1,1
4,48.0,1,156,56.0,100,60,1,1,0,0,0,0

In [7]:
df[df['smoke']==1]['age'].describe()

count    6169.000000
mean       52.296645
std         6.838454
min        39.000000
25%        47.000000
50%        52.000000
75%        58.000000
max        65.000000
Name: age, dtype: float64

In [8]:
df[df['smoke']==0]['age'].describe()

count    63831.000000
mean        53.439395
std          6.749716
min         30.000000
25%         49.000000
50%         54.000000
75%         59.000000
max         65.000000
Name: age, dtype: float64

In [2]:
round((52.397260-54.032877)*12)

-20

In [9]:
#Во сколько раз (округленно, round) отличаются доли больных людей 
#(согласно целевому признаку, cardio) в этих двух подвыборках? Посчитайте на наших данных. Answer:4
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,50.0,2,168,62.0,110,80,1,1,0,0,1,0
1,55.0,1,156,85.0,140,90,3,1,0,0,1,1
2,52.0,1,165,64.0,130,70,3,1,0,0,0,1
3,48.0,2,169,82.0,150,100,1,1,0,0,1,1
4,48.0,1,156,56.0,100,60,1,1,0,0,0,0

In [15]:
group1 = df[(df['age']>59)&(df['age']<65)&(df['cholesterol']==1)&(df['ap_hi']<120)]['cardio'].count()

In [16]:
group2 =df[(df['age']>59)&(df['age']<65)&(df['cholesterol']==3)&(df['ap_hi']>159)&(df['ap_hi']<181)]['cardio'].count()

In [17]:
result = round(group1/group2)
print(result)

4.0

In [21]:
#Постройте новый признак – BMI (Body Mass Index). Для этого надо вес в килограммах поделить на квадрат роста в метрах. 
#Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.
#Медианный BMI по выборке превышает норму Answer: Yes
#У женщин в среднем BMI ниже, чем у мужчин Answer: No
#У здоровых в среднем BMI выше, чем у больных Answer: No
#В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин Answer: Yes
df['BMI']=df['weight']/(((df['height'])/100)**2)

In [22]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI
id,,,,,,,,,,,,,
0,50.0,2,168,62.0,110,80,1,1,0,0,1,0,21.967120
1,55.0,1,156,85.0,140,90,3,1,0,0,1,1,34.927679
2,52.0,1,165,64.0,130,70,3,1,0,0,0,1,23.507805
3,48.0,2,169,82.0,150,100,1,1,0,0,1,1,28.710479
4,48.0,1,156,56.0,100,60,1,1,0,0,0,0,23.011177

In [23]:
df['BMI'].describe()

count    70000.000000
mean        27.556513
std          6.091511
min          3.471784
25%         23.875115
50%         26.374068
75%         30.222222
max        298.666667
Name: BMI, dtype: float64

In [33]:
df.pivot_table(['BMI'],['gender'], aggfunc='mean')

              BMI
gender
1       27.987583
2       26.754442

In [34]:
df.pivot_table(['BMI'], ['cardio'], aggfunc='mean')

              BMI
cardio
0       26.548175
1       28.566061

In [41]:
df[(df['cardio']==0)&(df['alco']==0)&(df['gender']==2)]['BMI'].mean()

25.87263807546017

In [42]:
df[(df['cardio']==0)&(df['alco']==0)&(df['gender']==1)]['BMI'].mean()

26.845406594131507

In [53]:
#Сколько процентов данных (округленно, round) мы выбросили? Answer: 10
df[df.ap_lo>180].count()

age            956
gender         956
height         956
weight         956
ap_hi          956
ap_lo          956
cholesterol    956
gluc           956
smoke          956
alco           956
active         956
cardio         956
BMI            956
dtype: int64

In [55]:
df['height'].quantile([.025,0.975])

0.025    150.0
0.975    180.0
Name: height, dtype: float64

In [67]:
df[df.height<150].count()

age            1537
gender         1537
height         1537
weight         1537
ap_hi          1537
ap_lo          1537
cholesterol    1537
gluc           1537
smoke          1537
alco           1537
active         1537
cardio         1537
BMI            1537
dtype: int64

In [58]:
df[df.height>180].count()

age            1439
gender         1439
height         1439
weight         1439
ap_hi          1439
ap_lo          1439
cholesterol    1439
gluc           1439
smoke          1439
alco           1439
active         1439
cardio         1439
BMI            1439
dtype: int64

In [59]:
df['weight'].quantile([.025,0.975])

0.025     51.0
0.975    108.0
Name: weight, dtype: float64

In [60]:
df[df.weight<51].count()

age            1490
gender         1490
height         1490
weight         1490
ap_hi          1490
ap_lo          1490
cholesterol    1490
gluc           1490
smoke          1490
alco           1490
active         1490
cardio         1490
BMI            1490
dtype: int64

In [61]:
df[df.weight>108].count()

age            1613
gender         1613
height         1613
weight         1613
ap_hi          1613
ap_lo          1613
cholesterol    1613
gluc           1613
smoke          1613
alco           1613
active         1613
cardio         1613
BMI            1613
dtype: int64

In [62]:
res = 1613+1490+1439+1537+956
res

7035

In [65]:
round((7035/70000)*100)

10