In [4]:
import pandas as pd
import numpy as np
df=pd.read_csv('mlbootcamp5_train.csv',sep=';', index_col='id')
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [5]:
df.describe()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [17]:
df['gender'].value_counts()
#Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" 
#(какому полу соответствует 1, а какому – 2 в признаке gender) – это определите, посмотрев также на рост 
#при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).

1    45530
2    24470
Name: gender, dtype: int64

In [8]:
df[df['gender'==2]]['height'].mean()

KeyError: False

In [10]:
df[df['gender']==2]['height'].mean()
#2-man
#1-woman

169.94789538210054

In [11]:
df[df['gender']==1]['height'].mean()

161.35561168460356

In [12]:
df[df['gender']==2]['height'].max()

207

In [13]:
df[df['gender']==1]['height'].max()

250

In [14]:
df[df['alco']==1]['gender'].mean()

1.6915515409139215

In [16]:
pd.crosstab(df['alco'], df['gender'])
#Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины? Answer:Women

gender      1      2
alco
0       44369  21867
1        1161   2603

In [18]:
#Во сколько раз (округленно, round) процент курящих среди мужчин больше, чем процент курящих среди женщин 
#(по крайней мере, по этим анкетным данным)? Answer - 8
pd.crosstab(df['smoke'], df['gender'], normalize=True)

gender         1         2
smoke
0       0.638814  0.273057
1       0.011614  0.076514

In [19]:
# Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев 
#(примерно) отличаются медианные значения возраста курящих и некурящих. #Answer:20
df['age']=df['age']/365
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,50.391781,2,168,62.0,110,80,1,1,0,0,1,0
1,55.419178,1,156,85.0,140,90,3,1,0,0,1,1
2,51.663014,1,165,64.0,130,70,3,1,0,0,0,1
3,48.282192,2,169,82.0,150,100,1,1,0,0,1,1
4,47.873973,1,156,56.0,100,60,1,1,0,0,0,0

In [30]:
df[df['smoke']==1]['age'].describe()

count    6169.000000
mean       52.303663
std         6.832938
min        39.156164
25%        46.789041
50%        52.397260
75%        57.813699
max        64.895890
Name: age, dtype: float64

In [31]:
df[df['smoke']==0]['age'].describe()

count    63831.000000
mean        53.439454
std          6.744093
min         29.583562
25%         48.704110
50%         54.032877
75%         58.517808
max         64.967123
Name: age, dtype: float64

In [32]:
(52.397260-54.032877)*12

-19.627403999999956